.blog-title {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.blogDetail_head_container {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogDetail_head_container h1 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 15px;
}

/* .blogDetail_container h1 {
    font-size: 21px;
    font-weight: 700;
} */

.blogDetail_container p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}

.blogDetail_container h2 {
    font-size: 21px;
    font-weight: 700;
}

@keyframes blogDetail_head {
    from {
        transform: translateX(-20px);
    }
}

.blogDetail_head_container h6 {
    display: inline-block;
    animation: 2s blogDetail_head linear;
}

@keyframes blogDetail_head_h1 {
    from {
        transform: rotateX(180deg);
    }
}

@media (min-width: 768px) {
    .blogDetail_container h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .blogDetail_container p {
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
    }

    .blogDetail_container h2 {
        font-size: 40px;
        font-weight: 700;
    }
}

@media (max-width: 450px) {
    .blog-title {
        font-size: 15px;
        margin-top: 30px;
        text-align: center;

    }
}

@media (min-width: 768px) {
    .blog-title {
        font-size: 35px;
        margin-top: 30px;
        text-align: center;
    }
}

.home_map {
    height: 350px;
}

@media(min-width:768px) {
    .home_map {
        height: 100%;
    }
}


.home_contact_form {
    background-color: #4267B2;
    color: #fff;
}

.home_contact_form input {
    width: 100%;
    display: block;
    padding: 8px 20px;
    margin: 10px 0;
}

.home_contact_form textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 30px 20px;
}

.home_contact_form button {
    padding: 18px 14px;
    background-color: #FFA500;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.home_contact_form button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

.home_contact_form button:hover {
    transform: translateY(-10px);
    transition: 1s;
}