.home_container {
    width: 100%;
    height: 100vh;
    background: url(../../Assets/Banner/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home_bg {
    background: rgba(2, 17, 55, 0.692);
    width: 100%;
    height: 100%;
}

.home_head_container {
    color: #fff;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

@media (max-width: 450px) {
    .home_head_container {
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

    }
}

@media (min-width: 768px) {
    .home_content {
        margin-top: 52px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.home_head_container h2 {
    font-size: 56px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    word-wrap: break-word;
    line-height: 1.08em;
    letter-spacing: -1px;
}

@media (max-width: 450px) {
    .home_head_container h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) {
    .home_head_container h2 {
        font-size: 45px;
    }
}


.home_head_container .p1 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

@media (max-width: 450px) {
    .home_head_container .p1 {
        font-size: 15px;
        letter-spacing: .2px;
    }
}



.home_head_container .p2 {
    font-size: 17px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.625em;
}

@media (max-width: 450px) {
    .home_head_container .p2 {
        font-size: 11px;
        letter-spacing: .6px;
    }
}



.cta-btn {

    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    animation: moveDown 1s ease-in-out;
    transition: transform 0.3s ease-in-out;
    padding: 2px;
}

.cta-btn:hover {
    transform: translateY(-10px);
}