.blog_bg{
    width: 100%;
    background: url(../../Assets/bg-blur1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #021137;
    color: #fff;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    color: #001f60;
}

.date {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.read-more {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .content {
        padding: 10px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 12px;
    }
}