.serviceDetail_container {
    width: 100%;
    height: 70vh;
    background: url(../../Assets/Banner/service.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.serviceDetail_bg {
    background: rgb(2 17 55 / 51%);
    width: 100%;
    height: 100%;
}

.serviceDetail_head_container {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceDetail_head_container h1 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 15px;
}

@media(min-width:768px) {
    .serviceDetail_head_container h1 {
        font-size: 65px;
    }
}

@keyframes serviceDetail_head {
    from {
        transform: translateX(-20px);
    }
}

.serviceDetail_head_container h6 {
    display: inline-block;
    animation: 2s serviceDetail_head linear;
}

@keyframes serviceDetail_head_h1 {
    from {
        transform: rotateX(180deg);
    }
}

.serviceDetail_head_container h1 {
    animation: 1s serviceDetail_head_h1 linear;
}

/* IndividualTax START */

.individula_btn:hover {
    transform: translateY(-10px);
    transition: 1s;
}

.individual_icon{
    display: inline-block;
    background: #4A6EC91A;
    padding: 14px;
    font-size: 46px;
    border-radius: 8px;
    color: #4A6EC9;
}

@media (min-width:768px) and (max-width:1024px) {
    .individuval_img_Container {
        height: 350px;
    }
}

/* professional_Team START */

.professional_Team h1{
    font-weight: 700;
    font-size: 24px;
}

@media (min-width:768px) {
    .professional_Team h1{
        font-weight: 700;
        font-size: 35px;
    }
}

@media (min-width:1440px) {
    .professional_Team h1{
        font-weight: 700;
        font-size: 55px;
    }
    .professional_Team{
        width: 65%;
        margin: auto;
    }
}