Flask==3.0.0
Flask-CORS==4.0.0
python-dotenv==1.0.0
dnspython==2.4.2
gunicorn==21.2.0
msal==1.26.0
python-jose[cryptography]==3.3.0
requests==2.31.0
azure-communication-identity>=1.4.0
azure-communication-callautomation>=1.1.0
pytz==2026.1
urllib3==1.26.18
pypdf
reportlab